@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Details";
}
<div class="head" flex-direction:row;>

    <img src="~/Assets/logo.png" style="width:50px;height:47px" />

    <span style="color: #82A70C">EMPLOYEE</span>
    <span style="color: #42515F"> PAYROLL</span>
</div>
<div class="bodydetails">

<h3>Details</h3>

<div>
   
   <br />
    <div class="row4">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Profile_Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Profile_Image)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Salary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Start_date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Start_date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
    </div>

</div>
    <br />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Empid }) |
    <a asp-action="List">Back to List</a>
</div>
    </div>